@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";



html {
    box-sizing: border-box;
    font-family: 'Radio Canada', cursive !important;
}

li {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

.navbar-link:hover {
    color: #ff9494;
    text-shadow:
        /* Red glow */
        0 0 7px #f9aaaa,
        0 0 10px #f9aaaa,
        0 0 21px #f9aaaa,
        /* Yellow glow */
        0 0 42px #fff3b0,
        0 0 82px #fff3b0,
        0 0 92px #fff3b0,
        0 0 102px #fff3b0,
        0 0 151px #fff3b0;
}

@layer components {

    .nav__link {
        @apply relative text-[1.25em] w-fit block after:block after:content-[''] after:absolute after:h-[3px] after:bg-[#f9aaaa] after:w-full after:scale-x-0 hover:after:scale-x-100 after:transition after:duration-300 after:origin-right
    }

    .text-bg {
        background-image: linear-gradient(to right, #e09f3e 0%, #fff3b0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}